
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 100%;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 55px;
    font-family: Roboto-Bold;
}

h3{
    font-size: 30px;
}

p{
    font-size: 25px;
}


.nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    border: 1px solid white;
    background-color: #111111;
    overflow: 0 auto;
    }
    .logo_btn{
        display: flex;
        justify-content: center;
        height: 72px;
        width: 70px;
        border: 1px solid white;
        background-color: #111111;
        margin: auto 0;
        }
        .logo_img{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            color: #e60614;
            height: 62px;
            width: 60px;
            border: 1px solid #e60614;
            padding: 10px;
            margin: auto 0;
        }

    .nav_options {
        display: flex;
        justify-content: center;
        margin: auto 0;
        }
        .home_btn,
        .specializations_btn,
        .skills_btn,
        .projects_btn,
        .contacts_btn {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 38px;
            border: 1px solid white;
            padding: 10px;
            margin: 0 20px;
        }
        .home_btn,
        .skills_btn,
        .projects_btn,
        .contacts_btn {
            width: 110px;
        }
        .specializations_btn{
            width: 160px;
            }
            .home_text,
            .skills_text,
            .projects_text,
            .contacts_text,
            .specializations_text{
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                color: white;
                height: 28px;
                width: 100%;
                border: 1px solid white;  
            }
   
.home {
    display: flex;
    height: 1008px;
    width: 100%;
    border: 1px solid white;
    background-color: #111111;
    }
    .profile_cont{
        display: flex;
        justify-content: center;
        height: 1008px;
        width: 800px;
        border: 1px solid white;
        }
        .profile_img{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: white;
            height:300px;
            width: 300px;
            border: 1px solid white;
            margin: auto;
        }

    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        height: 100%;
        width: 1200px;
        padding: 1rem;
        }
        .greetings{
            color: #e60614;
            border: 1px solid white;
        }
        .role{
            color: white;
            border: 1px solid white;
        }
        .my_desc{
            text-align: justify;
            line-height: 1.5;
            color: white;
            width: 100%;
            border: 1px solid white;
        }
        .about_me{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            letter-spacing: 5px;
            color: white;
            height: 80px;
            width: 250px;
            background: linear-gradient(45deg, #9f101b, #e60614);
        }

.specialization {
    display: flex;
    justify-content: space-between;
    height: 1080px;
    width: 100%;
    border: 1px solid white;
    background-color: #111111;
    padding: 1rem;
    }
    .webdev,
    .mobdev,
    .uides{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 500px;
        width: 600px;
        min-width: 250px;
        padding: 20px;
        margin: auto 0;
    }
    .webdev,
    .uides{
        background-color: #1e1e1e;
    }
    .mobdev{
        background: linear-gradient(45deg, #9f101b, #e60614);
        }
        .webdev_icon,
        .mobdev_icon,
        .uides_icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 100px;
            width: 100px;
            border: 1px solid white;
        }
        .webdev_icon,
        .uides_icon{
            color: #e60614;
        }
        .mobdev_icon{
            color: white;
        }
        .webdev_title,
        .mobdev_title,
        .uides_title{
            color: white;
            border: 1px solid white;
        }
        .webdev_info,
        .mobdev_info,
        .uides_info{
            color: white;
            border: 1px solid white;
        }
        .webdev_more,
        .mobdev_more,
        .uides_more{
            font-family: Roboto-Bold;
            border: 1px solid white;
        }
        .webdev_more,
        .uides_more{
            color: #e60614;
        }
        .mobdev_more
        {
            color: white;
        }

.about {
    display: flex;
    height: 1080px;
    width: 100%;
    border: 1px solid white;
    background-color: #111111;
    }
    .technical_skills{
        display: flex;
        flex: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 600px;
        min-width: 200px;
        border: 1px solid white;
        margin: auto 0;
        }
        .technical_skills_text{
            text-align: center;
            color: white;
            border: 1px solid white;
        }

    .others{
        height: 500px;
        width: 1250px;
        min-width: 300px;
        border: 1px solid white;
        margin: auto 0;
        }
        .others_block1,
        .others_block2{
            display: flex;
            justify-content: space-between; 
            height: 250px;
            width:  100%;
            border: 1px solid white;
            padding: 0 1rem;
        }
        .others_block1{
            padding-top: 1rem;
            padding-bottom: 8px;
        }
        .others_block2{
            padding-top: 8px;
            padding-bottom: 1rem;
            }
            .frontend,
            .backend,
            .mobdev_others,
            .TFL{
                height: 100%;
                width:600px;
                border: 1px solid white;
                background-color: #1e1e1e;
            }
            .frontend_title,
            .backend_title,
            .mobdev_others_title,
            .TFL_title{
                display: flex;
                justify-content: space-between;
                color: white;
                min-width: 50%;
                border: 1px solid white;
                padding: 1rem;
            }
            .frontend_text,
            .backend_text,
            .mobdev_others_text,
            .TFL_text{
                color: white;
                border: 1px solid white;
            }
            .frontend_more,
            .backend_more,
            .mobdev_others_more,
            .TFL_more{
                color: #e60614;
                border: 1px solid white;
            }
            .frontend_skills,
            .backend_skills,
            .mobdev_others_skills,
            .TFL_skills{
                display: flex;
                justify-content: center;
                height: 150px;
                min-width: 50%;
                border: 1px solid white;
                padding: 1rem;
                }
                .html_icon,
                .css_icon,
                .java_icon,
                .firebase_icon,
                .github_icon,
                .osmdroid_icon{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    height: 95px;
                    width: 95px;
                    border: 1px solid white;
                    margin: auto 1rem;
                    }
                    .html_img,
                    .css_img,
                    .java_img,
                    .firebase_img,
                    .github_img,
                    .osmdroid_img{
                        text-align: center;
                        color: white;
                        height: 85px;
                        width: 85px;
                        border: 1px solid white;
                        }
        
.projects {
    height: 1080px;
    width: 100%;
    border: 1px solid white;
    background-color: #111111;
    }
    .featured{
        display: flex;
        justify-content: space-between;
        color: white;
        border: 1px solid white;
        padding: 1rem;
        }
        .featured_cont{
            display: flex;
            flex-direction: column;
            gap: 12px;
            }
            .featured_title{
                border: 1px solid white;
                height: 55px;
            }
            .featured_desc{
                border: 1px solid white;
                height: 25px;
            }
            .view_projects{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                letter-spacing: 5px;
                height: 80px;
                width: 250px;
                background: linear-gradient(45deg, #9f101b, #e60614);
                margin: auto 0;
                }
    .project_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 952px;
        width: 100%;
        border: 1px solid white;
        }
        .project_list_cont1,
        .project_list_cont2{
            display: flex;
            justify-content: space-evenly;
            min-width: 614px;
            border: 1px solid white;
        }
        .project_list_cont1{
            margin-bottom: 10px;
        }
        .project_list_cont2{
            margin-top: 10px;
        }
        .project_cont1,
        .project_cont2,
        .project_cont3,
        .project_cont4{
            color: white;
            height: 440px;
            width: 700px;
            min-width: 290px;
            border: 1px solid white;
        }
        .project1,
        .project2,
        .project3,
        .project4{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 370px;
            width: 700px;
            min-width: 290px;
            border: 1px solid white;
            background: #1e1e1e;
            padding: 20px;
            }
            .project1_img,
            .project2_img,
            .project3_img,
            .project4_img{
                height: 250px;
                width: 500px;
                min-width: 250px;
                border: 1px solid white;
                padding: 20px;
        }
        .project1_title,
        .project2_title,
        .project3_title,
        .project4_title{
            border: 1px solid white;
        }
        .project1_more,
        .project2_more,
        .project3_more,
        .project4_more{
            color: #e60614;
            border: 1px solid white;
        }
    

.contacts {
    height: 1080px;
    width: 100%;
    border: 1px solid white;
    background-color: #111111;
    }
    .contact_display_cont{
        display: flex;
        justify-content: center;
        height: 943px;
        width: 100%;
        border: 1px solid white;
        }
        .contact_display{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            color: white;
            height: 600px;
            width: 600px;
            min-width: 300px;
            padding: 20px;
            border: 1px solid white;
            margin: auto 0;
            background: #1e1e1e;
            }
            .user_email{
                color: white;
                height: 54px;
                width: 100%;
                min-width: 250px;
                border: 1px solid white;
                padding: 20px;
            }
            .user_subject{
                color: white;
                height: 54px;
                width: 100%;
                min-width: 250px;
                border: 1px solid white;
                padding: 20px;
            }
            .user_message{
                color: white;
                height: 300px;
                width: 100%;
                min-width: 250px;
                border: 1px solid white;
                padding: 20px;
            }
            .user_submit{
                text-align: center;
                color: white;
                height: 54px;
                width: 100%;
                min-width: 250px;
                padding: 20px;
                background: linear-gradient(45deg, #9f101b, #e60614);
            }

    .contact_footer{
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100%;
        border: 1px solid white;
        }
        .contact_footer_cont{
            display: flex;
            justify-content: center;
            height: 100px;
            width: 100%;
            border: 1px solid white;
            padding: 1rem;
            }
            .socmed_link{
                display: flex;
                justify-content: space-between;
                height: 60px;
                width: 250px;
                padding: 10px;
                border: 1px solid white;
                margin: auto 0;
                margin-left: 720px;
                margin-right: 450px;
                }
                .fb,
                .linkedin,
                .github{
                    text-align: center;
                    color: white;
                    height: 38px;
                    width: 70px;
                    border: 1px solid white;
                    margin: auto 0;
                    padding: 10px;
                }
            .created{
                color: white;
                text-align: center;
                height: 38px;
                width: 360px;
                padding: 10px;
                border: 1px solid white;
                margin: auto 0;
            }