@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto/Roboto-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 55px;
    font-family: Roboto-Bold;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

button {
    border-style: none;
    background: none;
}

input {
    border-style: none;
}

textarea {
    border-style: none;
    resize: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

#container {
    height: 100vh;
    width: 100%;
    background-color: #101630;
}

#nav {
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
    background-color: transparent;
    padding: 2rem 10rem;
}

#nav_options {
    display: flex;
}

.nav_btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    font-size: 1px;
    height: 100%;
    margin: 0 1rem;
    display: flex;
    background-color: transparent;
    cursor: pointer;
}

#contacts_btn {
    margin-right: 0;
}

.nav_btn:hover {
    color: #71c5da;
    text-shadow: 0 0 5px #4ab5d1;
}

.section_active{
    color: #71c5da;
    text-shadow: 0 0 5px #4ab5d1;
}

#home {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #101630;
    padding: 10rem;
}

#profile_container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 960px;
}

#profile_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 960px;
}

#profile_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#greetings {
    color: #4ab5d1;
}

#role {
    color: white;
}

#my_desc {
    text-align: justify;
    line-height: 1.5;
    color: white;
    width: 100%;
}

#resume {
    display: flex;
    position: relative;
    text-align: center;
    font-weight: bolder;
    color: white;
    background: #101630;
    padding: 1rem;
    border: 2px solid #4ab5d1;
    box-shadow: 0 0 15px #4ab5d1;
    border-image: linear-gradient(135deg, #3b13a9, #5fb2db) 1;
    border-width: 2px;
    border-style: solid;
    transition: 0.5s;
}

#resume_new_tab_img{
    background-image: url(images/new_tab.png);
    background-size: cover;
    height: 22px;
    width: 22px;
    margin-left: 10px;
}

#resume:hover{
    background: linear-gradient(135deg, #3b13a9, #5fb2db);
    box-shadow: 0 0 15px #4ab5d1;
}


#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #101630;
    padding: 2rem 10rem;
}

#services_list{
    display: flex;
    justify-content: space-evenly;
    height:706px;
}

.services_cont {
    padding: 8px;
    border-radius: 10px;
    background: linear-gradient(135deg, #3b13a9, #5fb2db);
    box-shadow: 0 0 15px;
    margin: 0 1rem; 
    
 
}
.services_expand{
    height: 0;
    background: transparent;
    overflow: hidden;
}

.services_cont:hover .services_expand {
    opacity: 1;
    height: 50px;
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.services_btn {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    color: white;
    height: 550px;
    width: 580px;
    min-width: 250px;
    padding: 3rem;
    background: #101630;
}

.services_btn_title_cont{
    display: flex;
}

.services_expand { /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.services_img {
    background-size: cover;
    height: 100px;
    width: 100px;
}

#webdev_img {
    background-image: url(images/webdev-w.png);
    height: 100px;
    width: 150px;
    margin-right: 2rem;
}

#webdev_services:hover #webdev_img {
    background-image: url(images/webdev-r.png);
    background-size: cover;
    height: 100px;
    width: 100px;
    color: #e60614;
}

#mobdev_img {
    background-image: url(images/mobdev-w.png);
    background-size: auto;
    height: 100px;
        width: 150px;
        margin-right: 2rem;
}

#mobdev_services:hover #mobdev_img {
    background-image: url(images/mobdev-b.png);
    background-size: cover;
    height: 100px;
    width: 100px;
    color: #1e1e1e;
}


#webdev_services:active,
#mobdev_services:active {
    background: #1e1e1e;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100%;
    background-color: #101630;
    padding: 2rem 9rem;
}

#skills_cont{
    display: flex;
}

.technical_skills {
    height: 500px;
    width: 372px;
    background: linear-gradient(135deg, #285193, #25236A);
    margin: 1rem;
}

.technical_skills_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px;
    color: white;
    border-bottom: 3px solid #1b3764;
    padding: 1rem;
}

.technical_skills_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 1rem;
}

.technical_skills_img {
    height: 100px;
    width: 100px;
    margin: 3rem;
}


#projects {
    height: 200vh;
    width: 100%;
    background-color: #101630;
    padding: 0 9rem;
}

.tabs {
    display: flex;
    justify-content: center;
    padding: 0 10rem;
}

.tab {
    color: white;
    padding: 10px;
    cursor: pointer;
}

.tab_cont {
    display: none;
    gap: 10rem;
    border: 1px solid white;
    padding: 1rem;
}

.tab_cont_active {
    display: block;
}

.tab_active {
    color: #71c5da;
    text-shadow: 0 0 25px #4ab5d1;
    border-bottom: 2px solid #4ab5d1;
}

.projects_list {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.projects_container{
    display: flex;
    justify-content: space-between;
}

.projects_content{
    width: 49%;
    border: 1px solid white ;
}

.projects_img{
    width: 49%;
    border: 1px solid white;
}



#contacts {
    height: 100vh;
    width: 100%;
    background-color: #101630;
}

#contact_display_cont {
    display: flex;
    justify-content: center;
    height: 89vh;
    width: 100%;
}

#contact_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;
    height: 600px;
    width: 600px;
    min-width: 300px;
    padding: 20px;
    margin: auto 0;
    background: #1e1e1e;
}

#user_email {
    height: 54px;
    width: 100%;
    min-width: 250px;
}

#email {
    color: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: #333333;
}

#user_subject {
    height: 54px;
    width: 100%;
    min-width: 250px;
}

#subject {
    color: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: #333333;
}

#user_message {
    height: 300px;
    width: 100%;
    min-width: 250px;
}

#message {
    color: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: #333333;
}

#user_submit {
    text-align: center;
    color: white;
    height: 57px;
    width: 100%;
    min-width: 250px;
    padding: 1rem;
    background: linear-gradient(45deg, #9f101b, #e60614);
}

#user_submit:hover {
    color: #1e1e1e;
}

#user_submit:active {
    background: #990000;
}

#contact_footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

#fb_link {
    background-image: url(images/fb-w.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    color: #e60614;
}

#fb_link:hover {
    background-image: url(images/fb-r.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}

#linkedin_link {
    background-image: url(images/linkedin-w.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    color: #e60614;
}

#linkedin_link:hover {
    background-image: url(images/linkedin-r.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}

#github_link {
    background-image: url(images/github-w.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    color: #e60614;
}

#github_link:hover {
    background-image: url(images/github-r.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}

#created {
    text-align: end;
    color: #e60614;
    width: 100%;
    padding: 1rem;
}